<h1>Editing Requirement</h1>

<%= render 'form', requirement: @requirement %>

<%= link_to 'Destroy', @requirement, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', @chapter %>
