<div id="header">
  <h1><%= @chapter.specification.title %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to '戻る', @chapter %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<%= render 'form', requirement: @requirement %>
</div>
