<div id="header">
  <h1><%= application_title_link_tag %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'ユーザー編集', edit_user_path(@user) %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<p>
  <strong>ユーザー名:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>メールアドレス:</strong>
  <%= @user.email %>
</p>
</div>
