<div id="header">
  <h1><%= @section.chapter.specification.title %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'カテゴリを削除', @section, method: :delete, data: { confirm: 'Are you sure?' } %></li>
      <li><%= link_to '戻る', @section.chapter %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<%= render 'form', section: @section %>
</div>
