<div id="header">
  <h1><%= @project.name %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to '戻る', @project %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<%= render 'form', project: @project %>
</div>
