<div id="header">
  <h1><%= application_title_link_tag %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'プロジェクトを追加', new_project_path %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
  <h2>プロジェクト</h2>
  <div id="projects-index">
    <ul>
    <% @projects.each do |project| %>
      <% if admin? || has_operation?("read", project) %>
      <li><%= link_to project.name, project %></li>
      <% end %>
    <% end %>
    </ul>
  </div>
</div>
