<p id="notice"><%= notice %></p>

<h1>Spec Keywords</h1>

<table>
  <thead>
    <tr>
      <th>Spec</th>
      <th>Keyword</th>
    </tr>
  </thead>

  <tbody>
    <% @spec_keywords.each do |spec_keyword| %>
      <tr>
        <td><%= spec_keyword.spec_id %></td>
        <td><%= spec_keyword.keyword_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
