<div id="header">
  <h1><%= specification_title_link_tag %></h1>
  <p class="chapter_name"><%= chapter_name_link_tag %></p>
  <div id="main-menu">
    <ul>
      <li><%= link_to '仕様を削除', @spec, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<%= render 'form', spec: @spec %>
</div>
