<div id="header">
  <h1><%= @chapter.specification.title %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'カテゴリを追加', new_chapter_section_path(@chapter) %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<table border="5" rules="all">
  <tr>
    <th class="category">カテゴリ名</th>
    <th class="requirement" colspan="3">要求</th>
    <th class="spec_number">要求番号</th>
    <th class="description" >説明</th>
    <th class="note" >備考</th>
  </tr>
  <% if !hasSections? %>
  <tr>
    <td colspan="7" class="category"></td>
  </tr>
  <% else %>
  <%= render 'table', chapter: @chapter %>
  <% end %>
</table>
</div>
