/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
  margin: 0;
  padding: 100px 0 50px 0;
}
* html body{
  overflow: hidden;
}
#headerArea {
  position: fixed !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4em;
  background-color: #f2f2f2;;
  color: #000;
  font-size: 15px;
}

#headerArea div.logo, #headerArea ul.menu {
  margin-top: 1.5em;
}

#headerArea div.logo {
  position: absolute;
}

#headerArea ul.menu {
  font-size: 15px;
  float: right;
}

#headerArea ul.menu li {
  position: relative;
  margin-right: 20px;
  float: left;
}

div#footerArea {
  position: fixed !important;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #404040;
  color: #fff;
}

* html div#contentsArea{
  height: 100%;
  overflow: auto;
  font-size: 9px;
}

li {
  list-style: none;
}
