// Place all the styles related to the Sheets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#sheet_content {
  width: 100%;
  height: 40em;
}

#sheet a {
  color: #169;
  text-decoration: underline;

  &:hover {
    color: #c61a1a;
    background-color: #fff;
  }
}
