<!DOCTYPE html>
<html>
<head>
  <title>RailsProject</title>
  <%= wicked_pdf_stylesheet_link_tag "chapters" %>
  <%= wicked_pdf_stylesheet_link_tag "scaffolds" %>
  <%= wicked_pdf_stylesheet_link_tag "pdf" %>
  <%#= wicked_pdf_javascript_include_tag "pdf" %>
  <style>
    thead {display: table-row-group;}
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
