<div id="header">
  <h1><%= @project.name %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to '戻る', project_members_path(@project.id) %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<%= render partial: 'form', locals: {member: @member, edit: true} %>
</div>
