<div id="header">
  <h1><%= project_name_link_tag %></h1>
  <div id="main-menu">
    <ul>
      <li><%= link_to 'メンバー登録', new_project_member_path(params[:project_id]) %></li>
    </ul>
  </div>
</div>

<div id="contentsArea">
<table>
  <thead>
    <tr>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= link_to member.user.name, edit_member_path(member) %></td>
        <td><%= link_to 'メンバーを削除', member, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
